*{
    background-color: #ec9a29;
    text-align: center;
    margin-top: 5px 5px 5px 5px;
    padding: 5px;
    /* width: 100%; */
}
body{
    width: 100%;
}
table{
    padding-right: 5px;
    width: 98%;
    box-sizing: content-box;
    border-radius: 10px;
}

.h1{
    font-size: 50px;
    background-color: #d23747;
    font-family: sans-serif;
    color: white;
    text-align: center;
    text-shadow: #e58b94;
    text-decoration-color: #d23747;
}
tr{
    border: solid;
    border-width: 5px;
    border-color: #e24e1b;
}
th{
    border-radius: 50px;
}
